/* config.css this file contains some basic CSS
 * contains basic font size and font family properties
 * NOTE: link this stylesheet if you don't want to use bootstrap
 */
* {
  font-family: arial,sans-serif !important;
  font-size: 16px;
  font-style: normal !important;
}

h1,h2,h3,h4,h5,h6 {
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
}

h1 {
  font-size: 2em;
  margin-top: .67em;
  margin-bottom: .67em;
}

h2 {
  font-size: 1.5em;
  margin-top: .83em;
  margin-bottom: .83em;
}

h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

h5 {
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

h6 {
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}
