html {
  overflow: scroll !important;
  background-color: #fefefe
}

.center {
  width:50%;
  margin:50px auto;
}

ol {
  list-style:decimal;
  margin-left:20px
}

div.container {
  width: 80%;
  padding: 15px;
  margin: 0 auto;
}

a.destyle {
  font-size: inherit;
  text-decoration: inherit;
}
a.destyle:link, a.destyle:visited {
  color: #69f0ae;
}

a.destyle:hover, a.destyle:active {
  color: #00e676;
}

a:link:not(.destyle), a:visited:not(.destyle) {
  width:130px;
  margin-bottom:5px;
  margin-left:5px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #333;
  background-color: #69f0ae;
}

a:hover:not(.destyle), a:active:not(.destyle) {
  background-color: #00e676;
}

pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 95%;
  line-height: 140%;
  margin-top:15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

code {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  color: #fff;
  background: #222;
}

.container code {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid #333;
}
