
body {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: justify;
    line-height: 1.5;
    color: #585D64;
    font-size: 18px;
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
/*    cursor: pointer;*/
    word-wrap: break-word;
    word-break: break-all;
}

img {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
/*    margin: 0 auto !important;*/
    margin-bottom: 10px;
    clear: both !important;
    background-image: url(default_article.png) !important;
}

p {
    line-height: 1.5;
    text-align: justify;
    word-wrap: break-word;
    white-space: normal;
/*    text-indent:nullem;*/
}

strong {
/*    font-size: 26px;*/
}

font {
/*    color: #585D64;*/
/*    font-size: 18px !important;*/
}

br {
/*    clear: all;*/
}

a:link {
    color: red;
    text-decoration: underline;
}

a:visited {
    color: blue;
    text-decoration: none;
}

ul {
    margin-left: 0em;
}

ol {
    margin-left: 0em;
}

table {
    width: 100% !important;
    table-layout: fixed;
    border: solid #E5E6EA;
    font-size: 15px !important;
    border-width: 1px 0px 0px 1px;
}

td {
    border:solid #E5E6EA;
    border-width: 0px 1px 1px 0px;
    padding: 0px 0px;
}
